body {
    background-image: url(./2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    backdrop-filter:blur(1.9px)
}
*{
    margin: 0;
    padding: 0;
}

h2 {
    width: 200px;
    position: relative;
    left: 80px;
    top: 50px;

}

ul {
    text-align: end;
    padding-right: 80px;
    margin-top: 20px;
}

li {
    display: inline;
    padding-right: 20px;
}

li img {
    width: 30px;
    height: 30px;
}

.content {
    text-align: center;
    margin-top: 70px;
}

h1 {
    padding-top: 60px;
    letter-spacing: 20px;
}

p {
    margin-top: 60px;
    width: 350px;
    padding-left: 460px;
}

button {
    width: 160px;
    margin-top: 15px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: inherit;
    padding: 10px;
    color: white;
    font-weight: bold;
}

button:hover {
    transform: scale(0.9);
}

.copy {
    padding-top: 100px;
    font-size: 14px;
}

.copy a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}